@import "tailwindcss";

:root {
  --bg: #07111f;

  --text-primary: #ffffff;
  --text-secondary: #b7c1d1;
  --text-muted: #7f8ca3;

  --blue-primary: #005ef0;
  --blue-secondary: #04b4fd;

  --card: #0c1727;
  --border: rgba(255,255,255,0.08);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text-primary);
}

::selection {
  background: #005ef0;
  color: white;
}